* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Main Page what people see first */
.mainDisplay {
    background-color: #252934;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mainContent h1 {
    font-size: 4rem;
    margin-top: 10px;
}

#chad {
    color: #e31b6d;
}

.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
}

.fa-angle-down {
    cursor: pointer;
    color: #027bdd;
    font-size: 30px;
    margin: 20px;
}

@-webkit-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

@-moz-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

@-o-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

@-ms-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

/* .arrow-bounce {
    height: 300px;
} */



/* NavBar  */

.navbar {
    width: 100%;
    font-family: 'Segoe Ui';
    background-color: #1b242f;
    position: relative;
    border-bottom: solid 4px #04c2c9;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar ul {
    padding-left: 0%;
    position: relative;
    width: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    transition-duration: .75s;
    color: #e31b6d;
}

.navbar li {
    position: relative;
    list-style-type: none;
}


/* Skills */
.skills img {
    height: 100px;
}



.bottom {
    background-color: #1b242f;
}




/* Style for desktop screens */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0066cc;
}

/* Style for mobile screens */
@media screen and (max-width: 480px) {
    input[type="submit"] {
        width: 100%;
    }
}